{% extends 'base.html' %} {% block body %}

<div class="d-flex justify-content-center my-5">
  <div class="spinner-border text-primary p" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div>
  <h1 style="color: Black; text-align: center">
    <span class="text-primary p">This</span>
    <span class="text-secondary">page</span>
    <span class="text-success">is</span>
    <span class="text-danger">under</span>
    <span class="text-warning">construction</span>
  </h1>
</div>
{% endblock body %}
