<!DOCTYPE html> { % load static %)
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% endblock head %} {% block title %}
<title>To-do List</title>
{% endblock title %} {% block navbar %}

<body>
    <nav role='navigation' id="mainnav"><br><br><br>
        <ul class="gap">
            <li><a href="index.html">HOME</a></li>
            <li>
                <a href="contact.html">CONTACT</a>
            </li>
            <li>
                <a href="about.html">ABOUT</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <button id="myBtn" class="btn" onclick="myFunction()">Pause</button>
    </div>
    <div class="hamb"><a href="#"><i class="fa fa-bars"></i></a></div>
    <div class="hero">
        <h1>HEY! <br><span>HOW YOU DOING?</span></h1>
    </div><canvas id="bubble"></canvas>
</body>


{% endblock navbar %} {% block body %} {% endblock body %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script src="script.js"></script>

</html>